body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#post-summary a.collapsed:after {
  content: '+ Show More';
}

#post-summary a:not(.collapsed):after {
  content: '- Show Less';
}

#post-summary #collapseExample.collapse:not(.show) {
  display: block;
  /* height = lineheight * no of lines to display */
  height: 8.5em;
  overflow: hidden;
}

#post-summary #collapseExample.collapsing {
  height: 8.5em;
}