body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(236,240,241);
}
.card-fade-in {
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  /*-moz-animation: fadein 1s; !* Firefox < 16 *!*/
  /*-ms-animation: fadein 1s; !* Internet Explorer *!*/
  /*-o-animation: fadein 1s; !* Opera < 12.1 *!*/
  /*animation: fadein 1s;*/
  background-color: rgb(255,255,255);
  min-height: 80px;
}
.post-summary {
  max-width: 900px;

}

.post-header {
  display: flex;
}
.post-header-post {
  width: 400px;
}

.post-header-category {
  width: 300px;
}

.post-header-comment {
  width: 100px;
  text-align: center;
}

.post-header-upvotes {
  width: 100px;
  text-align: center;
}

.post-summary .card-header{
  background-color: rgb(255,255,255);
  border: none;
}
.post-author {
  float: left;
}

#post-content-summary a.collapsed:after {
  content: '+ Show More';
}

#post-content-summary a:not(.collapsed):after {
  content: '- Show Less';
}

#post-content-summary .post-content.collapse:not(.show) {
  display: block;
  /* height = lineheight * no of lines to display */
  height: 2.5em;
  overflow: hidden;
}
#post-content-summary .post-content.collapse.show {
  display: block;
  min-height: 2.5em;
  /* height = lineheight * no of lines to display */
}
#post-content-summary .post-content.collapsing {
  height: 2.5em;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.post-detail {
  font-family: "Times New Roman", Times, serif;
}

/* popup */
.react-js-modal {
  /*font-size: 12px;*/
  height: 400px;
  overflow: scroll;
}

.message-box{
  position: absolute;
  bottom: 10px;
}
.message-box-input {
  width: 500px;
}
.react-js-modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;

}
.react-js-modal > .content {
  width: 100%;
  padding: 10px 5px;


}
.react-js-modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.react-js-modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;

}


.dropdown-item {
  white-space: normal;
}

.wrap-text{
  word-wrap: break-word;
}