body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#post-content-summary a.collapsed:after {
  content: '+ Show More';
}

#post-content-summary a:not(.collapsed):after {
  content: '- Show Less';
}

#post-content-summary .post-content.collapse:not(.show) {
  display: block;
  /* height = lineheight * no of lines to display */
  height: 2.5em;
  overflow: hidden;
}
#post-content-summary .post-content.collapse.show {
  display: block;
  min-height: 2.5em;
  /* height = lineheight * no of lines to display */
}
#post-content-summary .post-content.collapsing {
  height: 2.5em;
}

.post-detail {
  font-family: "Times New Roman", Times, serif;
}

/* popup */
.react-js-modal {
  /*font-size: 12px;*/
}
.react-js-modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.react-js-modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.react-js-modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.react-js-modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/* dropdown */
.dropdown-menu {
  /* width: 200px !important; */
  white-space: normal;
  /* height: 400px !important; */
  /* word-wrap: break-word !important; */
}

.dropdown-item {
  /* width: 200px !important; */
  /* height: 400px !important; */
  /* word-wrap: break-word !important; */
}