.comment-creator {

  font-size: inherit;

  .CodeMirror {
    height: 15rem;
  }
}

.comment-form {
  &__btn {
    display: inline-block;
    margin-left: .5rem;
    padding: .3rem .7rem;
    background-color: var(--color-grey-light);
    border: none;
    border-radius: 10rem;
    box-shadow: .25rem 0.25rem .25rem var(--color-grey-light);
    &:active {
      box-shadow: .15rem 0.15rem .15rem var(--color-grey-dark);
      outline: none;
    }
    &:hover, &:focus {
      outline: none;
    }
  }
}