.hash-popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: white;
  padding: .2rem;
  display: none;
  max-height: 30%;
  overflow: auto;

  &__name {
    color: var(--color-blue-light);
    border: 0.8px solid var(--color-grey-light);
  }
}