.post-creator {
  // but 80% is not ok? (Press one key and keep inserting, it expands horizontally)
  width: 75vw;
  border: 2px solid red;
  margin:0 auto;
  padding: 6rem 2rem;
}

.markdown {
  width: 100%;
}