@import "../variables";

.sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-primary-color);
  font-size: 1.65rem;
  display: flex;
  flex-direction: column;
  line-height: 6rem;
  min-height: 95vh;
  border-right: 3px solid var(--navbar-bg-color);

  & > * {
    padding-left: 10%;
  }

  a:link, a:visited {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--sidebar-primary-color);
  }

  &__svg {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--sidebar-primary-color);
    margin-right: 1rem;
  }
}