@import "../variables";

.tag-bar {
  margin-top: 1rem;
  display: flex;
  align-items: center;

  svg {
    height: 2rem;
    width: 2rem;
    fill: var(--tag-svg-color);
  }

  &__name {
    margin: 0 0.5rem;
    padding: 0.3rem;
    border-radius: 30%;
    background-color: var(--tag-name-bg-color);
  }
}