.notification {
  position: relative;

  &__dropdown {
    position: absolute;
    z-index: 100;
    max-height: 40vh;
    overflow: auto;
    width: 15vw;
    background-color: white;
    padding: 0.2rem;
    border: var(--navbar-primary-color) 1px dashed;
  }

  &__dropdown-close {
    color: red;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__dropdown-item {
    text-transform: initial;
  }
}