:root {
  --navbar-bg-color: #fafafa;
  //--navbar-primary-color: #f73859;
  --navbar-primary-color: #6b591d;
  --heading-font-family: 'Lemonada', cursive;
  --text-font-family: 'Open Sans', sans-serif;
  --color-grey-dark: #888888;
  --color-grey-light: #e0dbdb;
  --color-shade-light: #d0cece;
  --color-shade-dark: #878686;
  --sidebar-bg-color: white;
  --sidebar-primary-color: #6b591d;
  --color-blue-light: #3fc1c9;
  --content-font-size: 1.6rem;
  --color-yellow-light: #faf6e9;
  --post-summary-bg-color: #f9f4ee;
  --loading-bg-color: #f3f3f3;
  --loading-primary-color: #6b591d;
  --post-bar-icon-color: #6b591d;
  --post-bar-icon-color-active: #ff6600;
  --collapsed-md-bg-color: white;
  --tag-svg-color: #6b591d;
  --tag-name-bg-color: #ece8d9;
  --homepage-width: 60vw;
  --homepage-padding: 0 3rem;
  --post-view-width: 57vw;
}