:root {
  --navbar-bg-color: #fafafa;
  --navbar-primary-color: #f73859;
  --heading-font-family: 'Lemonada', cursive;
  --text-font-family: 'Open Sans', sans-serif;
  --color-grey-dark: #888888;
  --color-grey-light: #e0dbdb;
  --color-shade-light: #d0cece;
  --color-shade-dark: #878686;
  --sidebar-bg-color: #364f6b;
  --sidebar-primary-color: #ffffff;
  --color-blue-light: #3fc1c9;
  --content-font-size: 1.6rem;
}