:root {
  --navbar-bg-color: #fafafa;
  --navbar-primary-color: #f73859;
  --heading-font-family: 'Lemonada', cursive;
  --text-font-family: 'Open Sans', sans-serif;
  --color-grey-dark: #888888;
  --color-grey-light: #e0dbdb;
  --color-brown-light: #ffffff;
}