@import "../variables";

.search-result {
  display: flex;

  h1 {
    color: var(--navbar-primary-color);
  }

  &__left {
    width: var(--homepage-width);
    padding: var(--homepage-padding);
  }

  &__right {
    padding-top: 3rem;
    color: var(--navbar-primary-color);
  }

  &__filter-item {
    font-size: 2.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
}